<html ng-app="login">
	<head>
		<link rel="stylesheet" href="/assets/angular-material.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
		<script src="/assets/angular-material.js"></script>
	</head>
	<body ng-controller="loginCtrl">
		<md-button>{{title}}</md-button>
	</body>


	<script type="text/javascript">

		debugger;
		var loginApp = angular.module('login', ['ngMaterial']);
		loginApp.controller('loginCtrl', function($scope){
			alert('in');
			$scope.title = 'KKK';
		});
	</script>
</html>