<!DOCTYPE html>
<html>
<head>
	<title>HTML5 Login</title>

	<!--<link rel="stylesheet" href="/assets/html/normalize.css">
	<link rel="stylesheet" href="/assets/html/style.css">
-->
	<link rel="stylesheet" href="/assets/angular-material.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

	<!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
	<script src="/assets/angular-material.js"></script>

</head>
<body ng-app="login">
	<div ng-controller="loginCtrl">
	<div layout="column" layout-fill>
	  <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
	    <div layout layout-sm="column">
        <md-input-container flex>
          <label>שם משתמש</label>
          <input ng-model="user.name" placeholder="Placeholder text">
        </md-input-container>
        <md-input-container flex>
          <label>סיסמה</label>
          <input type="password" ng-model="user.pass">
        </md-input-container>
      </div>
	  </md-whiteframe>
  	</div>

  	<md-button ng-click="send()">
  	שלח
  </md-button>
  <md-progress-circular id="spinner" md-mode="indeterminate" ng-show="show"></md-progress-circular>
  </div>
	
</body>
<script type="text/javascript">
	var app = angular.module("login", ['ngMaterial']);
	app.controller('loginCtrl', function($scope, $http, $mdToast){
		$scope.show = false;
		$scope.send = function(){
			debugger;
			$scope.show = true;
			var user  = $scope.user;
			$http.post('/loginController', {name: user.name, pass: user.pass})
			.then(function(){
				$scope.show = false;
			})
			.catch(function(){
				$mdToast.show($mdToast.simple().content('ההתחברות נכשלה'));
				$scope.show = false;
			})
		};
	});
	app.config(function($mdThemingProvider){
    // Configure a dark theme with primary foreground yellow
    $mdThemingProvider.theme('docs-dark', 'default')
        .primaryPalette('yellow')
        .dark();
    });
</script>
</html>